/* || General setup */

@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 8px;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Game */

body {
  background: #1e1e1e;
  display: grid;
  grid-template-areas: "scorelives" "myCanvas";
}

#myCanvas {
  display: flex;
  justify-content: center;
}

canvas {
  margin-top: 5em;
  background: #1e1e1e;
  width: 95vw;
  max-width: 900px;
}

/* display score and lives */

#scorelives {
  font-family: PressStart2P;
  color: #6c9950;
  font-size: 2rem;
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#score {
  margin-left: 2em;
  margin-right: auto;
}

#hearts {
  position: absolute;
  right: 2em;
  top: 1.3em;
}

#lives {
  position: absolute;
  right: 8em;
}

.heart {
  width: 20px;
  margin-left: 5px;
}

.hidden {
  display: none;
}
