/* || General setup */

@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

html,
body {
  margin: 0;
  padding: 0;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Typography */

html,
body {
  font-family: PressStart2P;
  color: #6c9950;
  font-size: 8px;
}

/* || Game */

/* general game setup */

body {
  background: #1e1e1e;
  display: grid;
  grid-template-areas: "scorelives" "myCanvas";
}

#myCanvas {
  display: flex;
  justify-content: center;
}

canvas {
  margin-top: 2em;
  background: #1e1e1e;
}

/* display score and lives */

#scorelives {
  font-size: 2rem;
  margin-top: 1.5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#score {
  margin-left: 2em;
  margin-right: auto;
}

#hearts {
  position: absolute;
  right: 2em;
  top: 17.9em;
  min-width: 75px;
}

#lives {
  position: absolute;
  right: 8em;
}

.heart {
  width: 20px;
  margin-left: 5px;
}

/* start screen  */

#start {
  display: grid;
}

#start > * {
  letter-spacing: 0.25em;
}

h1 {
  margin-top: 2em;
  font-size: 6em;
  justify-self: center;
}

h2 {
  font-size: 1.5rem;
  justify-self: center;
}

h3 {
  font-size: 1.25rem;
  justify-self: center;
}

/* win screen */

#win {
  display: grid;
}

#win > * {
  justify-self: center;
}

/* lose screen */

#lose {
  display: grid;
}

#lose > * {
  justify-self: center;
}

/* hide screens  */

.hidden,
.hidden > * {
  display: none;
}
